@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 14% 97%;
    --foreground: 210 29% 17%;
    --card: 0 0% 100%;
    --card-foreground: 210 29% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 29% 17%;
    --primary: 210 29% 24%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 30% 95%;
    --secondary-foreground: 210 29% 24%;
    --muted: 210 30% 95%;
    --muted-foreground: 210 10% 45%;
    --accent: 205 70% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 88%;
    --input: 210 20% 88%;
    --ring: 205 70% 51%;
    --chart-1: 205 70% 51%;
    --chart-2: 210 29% 24%;
    --chart-3: 210 29% 40%;
    --chart-4: 205 70% 70%;
    --chart-5: 210 29% 60%;
    --radius: 0.5rem;
    --sidebar-background: 210 29% 18%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 205 70% 51%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 29% 24%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 210 29% 24%;
    --sidebar-ring: 205 70% 51%;
  }
  .dark {
    --background: 210 29% 10%;
    --foreground: 0 0% 98%;
    --card: 210 29% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 210 29% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 205 70% 51%;
    --primary-foreground: 210 29% 10%;
    --secondary: 210 29% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 29% 20%;
    --muted-foreground: 210 10% 60%;
    --accent: 210 29% 24%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 29% 20%;
    --input: 210 29% 20%;
    --ring: 205 70% 51%;
    --chart-1: 205 70% 51%;
    --chart-2: 0 0% 98%;
    --chart-3: 0 0% 80%;
    --chart-4: 205 70% 70%;
    --chart-5: 0 0% 60%;
    --sidebar-background: 210 29% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 205 70% 51%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 29% 16%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 210 29% 16%;
    --sidebar-ring: 205 70% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
